<div class="container" align="center" id="header">
	<h1>
		<a href="{{ site.baseurl }}/" id="header-link">
			Claris Park
		</a>
	</h1>
</div>
<div class="container" align="center" id="header-bar">
	<div class="row">
	<div class="col-sm-3">
			<a href="{{ site.baseurl }}/" id="header-bar-home" class="header-bar-link">
				<h4>Home</h4>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{ site.baseurl }}/acting/" id="header-bar-acting" class="header-bar-link">
				<h4>Acting</h4>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{ site.baseurl }}/writing/" id="header-bar-writing" class="header-bar-link">
				<h4>Writing</h4>
			</a>
		</div>
		<div class="col-sm-3">
			<a href="{{ site.baseurl }}/blog/" id="header-bar-blog" class="header-bar-link">
				<h4>Blog</h4>
			</a>
		</div>
	</div>
</div>

<script src="{{ site.baseurl }}/javascript/header.js"></script>